@{
    ViewData["Title"] = "Calculator Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/extjs/packages/ext-theme-neutral/build/resources/theme-neutral-all.css">
    <script src="~/extjs/ext-all.js"></script>
    <script src="~/js/calculator.js"></script> <!-- Ваш JavaScript файл -->
</head>
<body>
    <div id="calculator"></div>
</body>
</html>